$breakpoint-tablet: 768px;
$breakpoint-longscreen: 1200px;
$breakpoint-mobile: 425px;
$site-color-strong: #f38020;
$site-color-weak: #fef3e9;
$site-color-hover: #f37000;
$site-font-family: "SF UI Display", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
