@import "Constants";

#dash-board-user-container {
  a {
    text-decoration: none;
  }

  .dashboard-button {
    margin: 30px auto;
    width: 240px;
    color: white;
    text-align: center;
    height: 60px;
    line-height: 55px;
    background-color: #f38020;
    font-size: 20px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 0.4s;
      background-color: #f37000;
    }
  }

  .negative-button {
    margin: 30px auto;
    width: 240px;
    color: #f38020;
    text-align: center;
    border: 1px solid #f38020;
    height: 60px;
    line-height: 55px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      color: white;
      transition-property: background-color;
      transition-duration: 0.4s;
      background-color: #f37000;
    }
  }

  #dash-board-user-main {
    width: 100%;

    .session-menu-container {
      width: 40%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: white;
      margin: 30px auto;
      color: #234361;
      font-family: $site-font-family;
      padding: 20px 25px 50px 25px;

      .filter-session-section {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .session-menu-title {
        font-size: 35px;
        font-weight: 500;
        text-align: center;
      }

      .session-item-container {
        padding: 5px 40px;
        margin-top: 20px;
        text-align: left;
        max-height: 200px;
        overflow-y: auto;

        .session-link-container {
          padding: 5px 10px;
          cursor: pointer;

          .session-link {
            color: #f38020;
            font-size: 20px;
          }

          &:hover {
            .session-link {
              color: white;
            }
            background-color: #f38020;
            transition-property: background-color;
            transition-duration: 0.4s;
          }
        }
      }
    }

    .left-container {
      width: 40%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: white;
      font-size: 50px;
      margin: 30px auto;
      color: #234361;
      font-family: $site-font-family;
      padding: 20px 25px 50px 25px;

      .dash-board-username {
        text-align: center;
      }

      .dash-board-greeting {
        color: #f38020;
        font-size: 60px;
        margin: 10px 0 0 0;
        font-family: Brush Script MT;
      }
    }
  }
}

.right-container {
  font-family: $site-font-family;
  padding: 20px 25px;

  .field-container {
    color: #f38020;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .content-container {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .mobile-button-close {
    display: none;
    margin: 40px auto;
    width: 210px;
    color: #f38020;
    text-align: center;
    border: 1px solid #f38020;
    height: 48px;
    line-height: 47px;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      color: white;
      transition-property: background-color;
      transition-duration: 0.4s;
      background-color: #f37000;
    }
  }
}

@media (min-width: $breakpoint-longscreen) {
  .real-header-group {
    width: 1180px;
  }
}

@media (max-width: $breakpoint-mobile) {
  #dash-board-user-container {
    height: 100%;

    #dash-board-user-main {
      height: 100%;

      .user-dashboard-switch-container {
        height: 100%;

        .user-dashboard-menu-main {
          height: 100%;

          .left-container {
            width: 100%;
            height: 100%;
            margin: 0;

            .dash-board-greeting {
              color: #f38020;
              font-size: 40px;
              text-align: center;
              margin: 10px 0 0 0;
              font-family: "Times New Roman", Times, serif;
            }

            .dash-board-username {
              display: none;
            }
          }
        }
      }

      .session-menu-container {
        width: 100%;
        height: 100%;
        margin: 0;

        .session-menu-title {
          font-size: 25px;
          font-weight: 500;
          text-align: center;
        }

        .session-item-container {
          padding: 0;
        }
      }
    }
  }

  .css-atml7c {
    width: 100%;
  }

  .css-nil {
    width: 100%;
  }

  .right-container {
    .mobile-button-close {
      display: block;
    }
  }
}
