@import "Constants";

.loading {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.after-loading {
  height: 100%;
}

@media (min-width: $breakpoint-longscreen) {
  .loading {
    width: 900px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .loading-container {
    width: 100%;
    height: 100%;
  }
}
