@import "Constants";

#upload-container {
  .submit-button-group {
    margin-top: 30px;
    padding-bottom: 20px;
    align-self: end;
    display: flex;
    flex-direction: row-reverse;

    .primary-button {
      width: 100px;
      margin-right: 20px;
      color: white;
      text-align: center;
      height: 40px;
      line-height: 38px;
      background-color: #f38020;
      font-size: 18px;
      border-radius: 5px;

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.7;
      }

      &:hover {
        cursor: pointer;
        background-color: #f37000;
        transition-property: background-color;
        transition-duration: 0.4s;
      }
    }

    .cancel-button {
      width: 80px;
      margin-right: 16px;
      color: white;
      text-align: center;
      height: 40px;
      line-height: 38px;
      background-color: white;
      color: #f38020;
      border: solid 1px #f38020;
      font-size: 18px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background-color: #f37000;
        color: white;
        transition-property: background-color;
        transition-duration: 0.4s;
      }
    }
  }

  #shortcut-upload-panel {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 140px;
    left: 65px;

    .inputfile-hidden {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -10;
    }

    .disabled {
      display: none;
    }

    .shortcut-upload-btn {
      height: 50px;
      width: 200px;
      margin-top: 8px;
      background-color: $site-color-strong;
      font-size: 16px;
      color: white;
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .shortcut-icon {
        color: white;
      }

      &.with-label {
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }

      &.chosen {
        background-color: white;
        color: $site-color-strong;
      }

      &:focus {
        outline: none;
      }

      &.secondary {
        background-color: rgb(221, 14, 14);
        box-shadow: none;

        &:hover {
          color: rgb(221, 14, 14);
        }
      }

      &:hover {
        background-color: white;
        color: $site-color-strong;
        transition-property: background-color;
        transition-duration: 0.4s;
        margin-top: 11px;
        margin-bottom: 2px;

        .shortcut-icon {
          color: $site-color-strong;
        }
      }
    }
  }
}

#upload-body-section {
  padding-top: 30px;
  padding-bottom: 30px;

  #upload-body-main {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
  }
}

#upload-body-main {
  #upload-body-session {
    padding: 5px 25px 10px 25px;
    margin-bottom: 15px;
  }

  .section-common {
    padding: 25px 25px 15px 25px;

    .title-upload-common {
      font-size: 28px;
      font-weight: 500;
      border-bottom: 1px solid grey;
      color: #234361;
      font-family: $site-font-family;
    }

    .files-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .inputfile-hidden {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -10;
      }

      .upload-item {
        width: 120px;
        border-radius: 10px;
        height: 98px;
        color: grey;
        margin: 20px;
        background-color: #f7f7f7;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;

        .delete-icon {
          cursor: pointer;
          position: absolute;
          right: -6px;
          top: -6px;
          font-size: 15px;
          color: white;
          width: 25px;
          height: 25px;
          text-align: center;
          border-radius: 50%;
          background-color: darkgrey;

          &:hover {
            background-color: red;
            transition-property: background-color;
            transition-duration: 0.4s;
          }
        }

        &.upload-place-holder {
          cursor: pointer;
          background-color: white;
          color: rgba(0, 0, 0, 0.19);
          border: dashed 4px rgba(0, 0, 0, 0.19);
        }

        &.upload-place-holder:hover {
          background-color: white;
          color: grey;
          border: dashed 4px grey;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        &.upload-item-survey {
          cursor: pointer;

          .upload-item-text {
            cursor: pointer;
          }
        }

        .upload-item-icon {
          text-align: center;

          &.place-holder-icon {
            padding-top: 3px;
          }

          &.survey-done-icon {
            color: green;
          }
        }

        .upload-item-text {
          cursor: default;
          margin-top: 5px;
          padding-left: 2px;
          max-height: 23px;
          padding-right: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 15px;
          text-align: center;

          &.place-holder-text {
            margin-top: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-longscreen) {
  #upload-body-section {
    #upload-body-main {
      width: 900px;
    }
  }
}

@media (max-width: 1460px) {
  #shortcut-upload-panel {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  #upload-body-section {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    #upload-body-main {
      width: 100%;

      .section-common {
        .title-upload-common {
          .css-nil {
            margin: auto;
          }
        }
        .files-container {
          .upload-button-container {
            width: 100%;

            .upload-label {
              width: 100%;
            }
          }
          .upload-item {
            width: 100%;
            margin: 10px auto;
          }
        }
      }

      .portal-view-control {
        height: 100%;
      }
      .submit-button-group {
        display: block;
        align-self: auto;

        .primary-button {
          width: 220px;
          margin: 20px auto;
          height: 50px;
          line-height: 50px;
          font-size: 18px;

          &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.7;
          }
        }

        .cancel-button {
          width: 220px;
          margin: 20px auto;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
        }
      }
    }
  }
}
